/* @import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lobster&display=swap'); */

:host {
  font-family: 'Lobster', cursive;
  font-family: 'Abril Fatface', cursive;
  font-size: 17px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

img{
 width :100vw;
 height:fit-content;
}

.content {
  display: flex;
  
  margin: 32px auto;
  padding: 0 16px;
  /* max-width: 960px; */
  justify-content: center;
  width: 100vw;
 
  
}

footer {
  background-color: rgb(80, 73, 73);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  line-height: 20px;
  width: 100vw;
}

footer a {
  
  display: inline;
  align-items: center;
  font-size: large;
  color: red;
}
footer a:hover{
font-style: bold;
}
footer p{
  padding-top: 10px;
}
.navbar{
  width: 100vw;
}



